<html>
  <head>
  	<%= stylesheet_link_tag('application.css', :debug => true) %>
    <%= javascript_include_tag('application.js', :debug => true) %>
  </head>
  <body>
    <h1>Welcome to the Sprockets Sinatra App</h1>

    <img src="<%= asset_path('17_icon.png') %>">
  </body>
</html>
